# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys_2 import g_key

#configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
#Reading from csv into dataframe using pandas
#####MAKE SURE TO GRAB THIS CSV FROM OTHER FOLDER USING RELATIVE PATHS
weatherdataframe = pd.read_csv("../WeatherPy/Weather CSV")
weatherdataframe.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mahébourg,-20.41,57.70,75.20,73,40,5.82,MU,1602862136
1,1,Tasiilaq,65.61,-37.64,42.80,93,75,3.36,GL,1602862403
2,2,Bluff,-46.60,168.33,41.16,69,20,1.28,NZ,1602862404
3,3,Geraldton,-28.77,114.60,64.40,72,15,17.22,AU,1602862405
4,4,Mataura,-46.19,168.86,33.39,94,33,1.95,NZ,1602862406

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
#Store latitude and longitude in locations:
locations = weatherdataframe[["Lat", "Lng"]]

#Store humidity values. Fill NaN values and convert to float.

humidity = weatherdataframe["Humidity"].astype(float)

In [14]:
#Plot the heatmap
fig = gmaps.figure()

#Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity = 10, point_radius = 1)

#Add the layer to the map
fig.add_layer(heat_layer)

#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [21]:
#Narrowed dataframe to find ideal weather condition: Temp
idealtemp_df = weatherdataframe.loc[(weatherdataframe["Max Temp"]<80) & (weatherdataframe["Max Temp"]>70)]

In [22]:
#Narrowed dataframe to find ideal weather condition: Wind Speed
idealwind_df = weatherdataframe.loc[weatherdataframe["Wind Speed"]<10]

In [26]:
#Narrowed dataframe to find ideal weather condition: Zero Cloudiness
idealwind_df = weatherdataframe.loc[weatherdataframe["Cloudiness"]==0]

In [29]:
#Combined all conditions into a single dataframe:

allconditions_df= weatherdataframe.loc[(weatherdataframe["Max Temp"]<80) & (weatherdataframe["Max Temp"]>70) & (weatherdataframe["Wind Speed"]<10) & (weatherdataframe["Cloudiness"]==0)]

allconditions_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
41,41,Marzuq,14.40,46.47,74.75,20,0,4.81,YE,1602862446
50,50,Mercedes,-34.65,-59.43,78.01,63,0,8.01,AR,1602862424
55,55,Cape Town,-33.93,18.42,78.01,29,0,8.05,ZA,1602862461
85,85,Along,28.17,94.77,70.79,85,0,1.79,IN,1602862495
313,313,Abu Kamal,34.45,40.92,76.10,23,0,6.06,SY,1602862749
319,319,Saldanha,-33.01,17.94,77.00,33,0,9.17,ZA,1602862756
350,350,General Roca,-39.03,-67.58,78.80,39,0,8.05,AR,1602862791
441,441,Alice Springs,-23.70,133.88,75.20,31,0,4.70,AU,1602862825

In [31]:
allconditions_df.count()

Unnamed: 0    8
City          8
Lat           8
Lng           8
Max Temp      8
Humidity      8
Cloudiness    8
Wind Speed    8
Country       8
Date          8
dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure